<%- include("partials/header") %>

    <div class="col-lg-12 btn-compose">
        <a href="/compose" class="btn btn-primary">Compose</a>
    </div>
    <!-- btn compose -->

    <article class="col-lg-10">
        <h1>First Content</h1>
        <p><%= firstContent %></p>
    </article>

    <% posts.forEach(function(post){ %>
        <article class="col-lg-10">
            <h1><%= post.title %></h1>
            <p><%= post.content.substring(0,100) + "..." %>
                <a href="/post/<%= post._id%>">Read More</a>
            </p>
        </article>
    <% }); %>
    <!-- firt content -->


<%-include("partials/footer") %>